@import url(reset.css);

:root {
    --fuenteprincipal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --containerMobile: 95%;
    --containerDesktop: 1100px
}


img {
    width: 100%;
    height: auto;
    display: block;

}



header {
    background-color: black;

    color: white;
    font-family: var(--fuenteprincipal);
    height: 3vh;
    padding: 16px;
    font-weight: bold;


}

header div:first-child {
    display: flex;
    justify-content: space-between;
}

header i {
    font-size: 1.25em
}

header a {
    color: white;
    text-decoration: none;
}

header .hamburguesa div {
    transform: translateX(300px);
    border-top: 3px solid #fbf9f9;
    margin-bottom: 4px;
    width: 22.5px;

}

.menu {
    display: none;

}

header nav li {
    display: none;


}

.hero {

    font-family: var(--fuenteprincipal);
    background-color: rgb(63, 137, 216);
    color: white;

}

.container {
    max-width: var(--containerMobile);
    margin: 0 auto;
}

h1 {

    font-size: 1.75em;
    font-weight: bolder;
    padding: 50px 0 0;

}

.hero h3 {
    font-size: 1em;
    font-weight: bolder;
    margin: 50px 0;
}

.hero {
    padding-bottom: 80px;
}

.hero li a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.851);
    padding: 17.5px;
    border-radius: 25px;
    margin-top: 7px;
    text-align: center;
    font-weight: bolder;
}

.hero li:last-child a {

    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 60px;
}


.hero li a:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.025);
}

.hero li:last-child a:hover {
    background-color: rgb(30, 108, 190);
    transform: scale(1.025);
}

.hero small {
    font-size: 0.75em;

}

.hero small a {

    color: white;
}

/* INICIO SECCION 1 */

.uno {
    font-family: var(--fuenteprincipal);
    padding-bottom: 60px;
}

.uno h2 {

    font-weight: bolder;
    font-size: 1.75em;
    margin: 35px 0;
    text-align: center;

}

.uno figure {
    display: flex;
    margin-bottom: 40px;
}

.uno img {

    width: 30%;
}

.uno h3 {

    font-size: 1.25em;
    font-weight: bolder;
    margin-top: 20px;
}

.uno p {
    margin-top: 10px;
}


/* FIN SECCION 1 */

/* INICIO SECCION 2 */

.dos {
    font-family: var(--fuenteprincipal);
    background-color: rgb(234, 234, 234);
    padding: 20px 0;
}

.dos h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.dos div p {
    margin: 20px 0 70px 0;
}

.dos article {
    border: 1px 1px 5px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.367);
    position: relative;

}

.dos article p:first-child {
    display: block;
    color: white;
    background-color: rgb(30, 108, 190);
    ;
    width: 100px;
    border-radius: 2.5px;
    padding: 5px 1px;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
    position: absolute;
}

.dos h3 {

    font-size: 1.5em;
    font-weight: bold;
    padding: 60px 0 0 20px;
}

.dos article p {

    margin: 10px 0 10px 20px;

}

/* FIN SECCION 2 */

@media(min-width: 48.000em) {


    header .hamburguesa {
        display: none;


    }

    header div:first-child {
        display: flex;
        justify-content: space-between;
    }


    .menu {
        transform: translateX(400px);
        display: flex;
    }

    header nav li {


        display: inline;
        margin: 0 12px;

    }

    header .border {
        border-left: 2px solid rgba(255, 255, 255, 0.635);
        margin: 0 15px
    }

    .container {

        max-width: var(--containerDesktop);
        margin: 0 auto;

    }

    h1 {

        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 500;
    }

    .hero ul {
        display: flex;
        gap: 10px;
    }

    .hero li a {

        width: 125px;
        padding: 20px;

    }

    .hero li:last-child a {


        padding: 17.5px;

    }

    .uno h2 {
        font-size: 2.5em;
    }

    .uno article {
        display: flex;
    }

    .uno img {
        width: 100%;
    }

    .uno figure {
        display: block;

    }
}