@import url(reset.css);

:root {
    --fuenteprincipal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --containerMobile: 95%;
    --containerDesktop: 1100px
}


img {
    width: 100%;
    height: auto;
    display: block;

}

/* COMIENZO HEADER */

header {
    background-color: black;

    color: white;
    font-family: var(--fuenteprincipal);
    height: 3vh;
    padding: 16px;
    font-weight: bold;


}

header div:first-child {
    display: flex;
    justify-content: space-between;
}

header i {
    font-size: 1.25em
}

header a {
    color: white;
    text-decoration: none;
}

header .hamburguesa div {
    transform: translateX(300px);
    border-top: 3px solid #fbf9f9;
    margin-bottom: 4px;
    width: 22.5px;

}

.menu {
    display: none;

}

header nav li {
    display: none;


}

/* FIN HEADER */

/* COMIENZO HERO */
.hero {

    font-family: var(--fuenteprincipal);
    background-color: rgb(63, 137, 216);
    color: white;

}

.container {
    max-width: var(--containerMobile);
    margin: 0 auto;
}

h1 {

    font-size: 1.75em;
    font-weight: bolder;
    padding: 50px 0 0;

}

.hero h3 {
    font-size: 1em;
    font-weight: bolder;
    margin: 50px 0;
}

.hero {
    padding-bottom: 80px;
}

.hero li a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.851);
    padding: 17.5px;
    border-radius: 25px;
    margin-top: 7px;
    text-align: center;
    font-weight: bolder;
}

.hero li:last-child a {

    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 60px;
}


.hero li a:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.025);
}

.hero li:last-child a:hover {
    background-color: rgb(30, 108, 190);
    transform: scale(1.025);
}

.hero small {
    font-size: 0.75em;

}

.hero small a {

    color: white;
}


/* FIN HERO */

/* INICIO SECCION 1 */

.uno {
    font-family: var(--fuenteprincipal);
    padding-bottom: 60px;
}

.uno h2 {

    font-weight: bolder;
    font-size: 1.75em;
    margin: 35px 0;
    text-align: center;

}

.uno figure {
    display: flex;
    margin-bottom: 40px;
}

.uno img {

    width: 30%;
}

.uno h3 {

    font-size: 1.25em;
    font-weight: bolder;
    margin-top: 20px;
}

.uno p {
    margin-top: 10px;
}


/* FIN SECCION 1 */

/* INICIO SECCION 2 */

.dos {
    font-family: var(--fuenteprincipal);
    background-color: rgb(234, 234, 234);
    padding: 20px 0;
}

.dos h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.dos div p {
    margin: 20px 0 70px 0;
}

.dos article {
    border: 1px 1px 5px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.367);
    position: relative;
    margin-bottom: 15px;

}

.dos article p:first-child {
    display: block;
    color: white;
    background-color: rgb(30, 108, 190);
    ;
    width: 100px;
    border-radius: 2.5px;
    padding: 5px 3px;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
    position: absolute;
}

.dos h3 {

    font-size: 1.5em;
    font-weight: bold;
    padding: 60px 0 0 20px;
}

.dos article p {

    margin: 10px 0 10px 20px;

}

.dos hr {
    width: 91%;
    margin-top: 20px;
    margin-bottom: 35px;
}

.dos li {
    margin: 10px 0 15px 20px;
}

.dos a:not(small a) {

    display: block;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.851);
    padding: 17.5px;
    border-radius: 25px;
    text-align: center;
    font-weight: bolder;
    margin: 25px auto;
    width: 85%;

}

.dos a:not(small a):hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.025);
}

.dos small {
    display: block;
    font-size: 0.75em;
    color: gray;
    margin-left: 20px;
    padding-bottom: 20px;

}

.dos small a {

    color: gray;
}

/* FIN SECCION 2 */

/* COMIENZO FOOTER */
footer {
    background-color: black;
    color: white;
    font-family: var(--fuenteprincipal);
    padding-bottom: 5px;
    position: relative;
}

footer i {
    font-size: 1.5em;
    margin: 50px 0;
}

footer span {
    position: absolute;
    top: 6%;
    left: 9%;
    font-weight: bolder;
}

footer h5 {
    color: grey;
    font-weight: 500;
    margin: 20px 0;
}

footer nav li {
    list-style: none;
    margin: 20px 0;
}

footer nav li a {
    text-decoration: none;
    color: white;

}

footer nav li a:hover {

    color: #1DB954
}

footer .abajo {
    position: relative;
}

footer .abajo i {

    font-size: 2em;
    margin: 100px 10px 50px 10px;
}

footer .abajo a {
    color: white;
}

footer .abajo i:hover {

    color: #1DB954;

}

footer .abajo li a {
    font-size: 0.65em;
    color: gray;
}

footer .abajo ul {
    display: flex;
    gap: 20px;
}

footer .abajo nav li {

    margin: 10px 0;
}

footer .abajo div:last-child {
    color: gray;
    font-size: 0.65em;
    position: absolute;
    left: 75%;
    bottom: 20%;

}

footer .abajo div:last-child i {
    color: gray;
    font-size: 1.25em;
    margin-bottom: 15px;
}

footer .abajo div:last-child p {
    margin-left: 17.5px;

}



/* FIN FOOTER */

@media(min-width: 48.000em) {


    header .hamburguesa {
        display: none;


    }

    header div:first-child {
        display: flex;
        justify-content: space-between;
    }


    .menu {
        transform: translateX(400px);
        display: flex;
    }

    header nav li {


        display: inline;
        margin: 0 12px;

    }

    header nav li a:hover {

        color: #1DB954;
    }

    header .border {
        border-left: 2px solid rgba(255, 255, 255, 0.635);
        margin: 0 15px
    }

    .container {

        max-width: var(--containerDesktop);
        margin: 0 auto;

    }

    h1 {

        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 500;
    }

    .hero ul {
        display: flex;
        gap: 10px;
    }

    .hero li a {

        width: 125px;
        padding: 20px;

    }

    .hero li:last-child a {


        padding: 17.5px;

    }

    .uno h2 {
        font-size: 2.5em;
    }

    .uno article {
        display: flex;
    }

    .uno img {
        width: 100%;
    }

    .uno figure {
        display: block;

    }

    .dos {

        padding-bottom: 80px;
    }

    .dos h2 {
        margin-top: 40px;
    }

    .dos div>p {
        text-align: center;
    }

    .dos .flex {
        display: flex;
        gap: 15px;
    }

    .dos a:not(small a) {
        width: 75%;
    }

    footer {

        padding-bottom: 45px;
    }

    footer .arriba {
        display: flex;
        gap: 50px;

    }

    footer .topfooter {
        display: flex;
        gap: 70px;
        transform: translateX(70px);
        margin-top: 50px;

    }

    footer h5 {
        margin-bottom: 5px;
    }

    footer .abajo {
        margin-top: 50px;
    }

    footer .abajo div:first-child {
        position: absolute;
        bottom: 550%;
        left: 80%;

    }

    footer .abajo nav {
        display: flex;
        gap: 17.5px;
    }


    footer span {

        top: 12.5%;
        left: 23%;

    }


}